.own_button button {
  background: steelblue;
  outline: none;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.7px;
  padding: 12.55px 20.92px 12.45px 24.08px;
  margin-right: 19.81px;
  cursor: pointer;
  transition: 0.6s;
  border-style: outset;
  border: 1px solid steelblue;

  &[disabled] {
    opacity: 0.6;
    &:hover {
      color: #fff;
      background: steelblue;
    }
  }
  &:active {
    opacity: 0.5;
    transition: 1s;
  }
  &:hover {
    border: 1px solid;
    color: steelblue;
    background: #fff;
  }
}
